<div class="hex-holder">
  {{battle-screen/game-board-hexagon rowId=rowId columnId=1 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=2 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=3 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=4 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=5 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=6 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=7 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=8 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=9 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=10 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=11 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=12 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=13 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=14 animationPackage=animationPackage}}
  {{battle-screen/game-board-hexagon rowId=rowId columnId=15 animationPackage=animationPackage}}
</div>
