<div class="hex-holder">
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
  {{battle-screen/game-board-hexagon}}
</div>
